---
layout: layouts/wrapper.liquid
eleventyExcludeFromCollections: true
title: Informationen
abstract: Hier finden Sie Dokumente und Informationen rund um unsere Projekte, Open Source und die Berliner IT-Landschaft.
permalink: /informationen/
---

<section class="mt-12 md:mt-20 mb-12">
  {% include partials/principles.liquid %}
</section>

<section class="max-w-screen-md mx-auto mt-12 md:mt-20 mb-12">
  {% include partials/documents-overview.liquid %}
</section>
