---
layout: layouts/wrapper.liquid
title: Links
abstract: Hier finden Sie Links zu Webseiten und Dokumenten rund um Open Source, Projekte und die Berliner IT-Landschaft.
permalink: /dokumente/
tags: ["nav", "nav-item-3"]
---

<section>
  <ul>
    {% for doc in collections.document %}
    <li class="mx-auto mt-8 first:mt-0 p-8 border-b-2 border-dotted border-gray-200 prose">
        <h1>{{ doc.data.title }}</h1>
        {{ doc.templateContent }}
        <a
        href={{ doc.data.link }}
        target="_blank"
        rel="noopener noreferrer"
        class="group float-right flex "
        >
          <span class="mr-1 font-bold">Zum Dokument</span>
          <span class="inline-block mr-1">{% include partials/icon-next.html %}</span>
          <span class="inline-block">{% include partials/icon-document.html %}</span>
        </a>
    </li>
  {% endfor %}
  </ul>
</section>

