---
layout: layouts/wrapper.liquid
eleventyExcludeFromCollections: true
title: Informationen
abstract: Hier finden Sie Dokumente und Informationen rund um unsere Projekte, Open Source und die Berliner IT-Landschaft.
permalink: /informationen/
---

<section class="mt-12 md:mt-20 mb-12">
  {% include partials/principles.liquid %}
  <ul class="mt-32">
    {% for doc in collections.document %}
    <li class="mx-auto mt-8 p-8 border-2 border-gray-200 prose">
      <article>
        <h1>{{ doc.data.title }}</h1>
        {{ doc.templateContent }}
      </article>
    </li>
  {% endfor %}
  </ul>
</section>

