---
layout: layouts/wrapper.liquid
title: Dokumente
abstract: Hier finden Sie Dokumente und Informationen rund um Open Source, Projekte und die Berliner IT-Landschaft.
permalink: /dokumente/
tags: ["nav", "nav-item-3"]
---

<section class="mb-12">
  <ul>
    {% for doc in collections.document %}
    <li class="mx-auto mt-8 first:mt-0 p-8 border-b-2 border-dotted border-gray-200 prose">
        <h1>{{ doc.data.title }}</h1>
        {{ doc.templateContent }}
      </article>
    </li>
  {% endfor %}
  </ul>
</section>

