<a href="{{ site.baseurl }}/">
  {% if site.headerHideLogo != true %}
    <img src="{{ site.baseurl }}/assets/new-logo.svg" alt="Berlin.de Open Source" id="city-logo">
  {% endif %}
  {% if site.headerHideTitle != true %}
    <h1>Open Source</h1>
    
  {% endif %}
</a>
