---
layout: layouts/wrapper.liquid
tags: ["documents"]
eleventyComputed:
  title: "{{ title }}"
---

<h1 class="md:mt-12">{{ title }}</h1>
<article class="prose mt-8">
  {{ content }}
</article>
<section class="max-w-screen-md mx-auto mt-12 md:mt-20 mb-12">
  {% include partials/documents-overview.liquid %}
</section>
