---
layout: layouts/root.liquid
---

<section
  class="min-h-50vh px-8 pt-16 md:pt-20 pb-64 lg:pb-32 bg-intro-pattern bg-cover bg-gray-100 bg-blend-soft-light clip-path-slanted"
>
  <div class="max-w-screen-md mx-auto">
    <img
      class="pt-0 w-80"
      src="/assets/images/logo.svg"
      alt="Logo von Berlin Open Source"
    />
    <hgroup class="mt-6">
      <h1 class="sr-only">Berlin Open Source</h1>
      <h2 class="font-normal text-blue-500">Für eine offene Stadt</h2>
    </hgroup>
    <div class="mt-6 prose transform lg:translate-x-40">
      {{ content }}
    </div>
  </div>
</section>
<section class="mt-16 px-8 max-w-screen-lg mx-auto">
  <h2>Neueste Projekte</h2>
  <div class="mt-6 grid md:grid-cols-2 gap-4 md:gap-8 auto-rows-1fr">
    {% assign projectsOrderedByDate = collections.project | reverse %} {% for
    project in projectsOrderedByDate limit:3 %} {% include
    "partials/project-card.liquid", url: project.url, title: project.data.title,
    abstract: project.data.abstract, id: project.data.id, has-thumb: project.data.has-thumb %} {% endfor %}
    <a
      href="/projekte"
      class="component-card p-8 bg-intro-pattern bg-cover bg-blend-soft-light bg-blue-500 flex flex-wrap place-content-between justify-between group"
    >
      <p class="mr-8 text-lg text-blue-200">
        Es gibt aktuell {{ collections.project.length }} Projekte.
      </p>
      <h3
        class="text-white transform transition-transform group-hover:translate-x-3"
      >
        → Alle Projekte ansehen
      </h3>
    </a>
  </div>
</section>
