---
layout: layouts/wrapper.liquid
eleventyComputed:
  title: "{{ title }}"
---

<div class="overview">
  <h1>{{ title }}</h1>
</div>

<div>
  <article class="markdown-body">
    {{ content }}
  </article>
</div>

{% include partials/project-overview.liquid %}
