---
defaultTitle: Berlin Open Source
defaultAbstract: Überblick über Open Source-Projekte, die im Land Berlin von öffentlichen Stellen eingesetzt oder aktiv weiterentwickelt werden
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; connect-src 'self' https://piwik.technologiestiftung-berlin.de; img-src 'self' https://piwik.technologiestiftung-berlin.de; script-src 'self' https://piwik.technologiestiftung-berlin.de; style-src 'self' 'unsafe-inline'; font-src 'self'; manifest-src 'self'; object-src 'none'"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% if title %}{{ title }} | {% endif %}{{ defaultTitle }}</title>
    <link rel="stylesheet" href="/assets/css/style.compiled.css" />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    {% include "partials/social-head.liquid" %}

    <script src="/assets/js/matomo.js"></script>
  </head>

  <body>
    {% include "partials/header.liquid" %}
    <main class="w-full mb-16 md:mb-32">
      {{ content }}
    </main>
    {% include "partials/footer.liquid" %} {% include
    "partials/submit-project-button.liquid" %}

    <script src="/assets/js/nav.js"></script>
  </body>
</html>
