---
defaultTitle: Open-Source Portal Berlin
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% if title %}{{ title }} | {% endif %}{{ defaultTitle }}</title>
    {%- comment -%} All of the following CSS files are legacy stuff. TODO:
    Refactor to Tailwind and remove them step by step. {%- endcomment -%}
   <!--  <link rel="stylesheet" href="/assets/css/github-markdown.css" /> -->
    <link rel="stylesheet" href="/assets/css/syntax.css" />
    <!-- <link rel="stylesheet" href="/assets/css/fonts.css" /> -->
    <link rel="stylesheet" href="/assets/css/style-old.css" />
    {%- comment -%} Legacy CSS end {%- endcomment -%}
    <link rel="stylesheet" href="/assets/css/style.compiled.css" />

    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "https://piwik.technologiestiftung-berlin.de/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "13"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.type = "text/javascript";
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>

  <body>
    {% include partials/header.liquid %}

    <main>
      <div class="wrapper">
        <!-- it might be possible to merge main and .wrapper   -->

        <div>
          {{ content }}
        </div>
      </div>
    </main>

    {% include partials/footer.liquid %}
  </body>
</html>
