/**
 * This CSS file provides basic styling
 */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #e5e5e5;
  color: #2f2f2f;
  line-height: 1.5;
  min-height: 100vh;
}

/* Layout of the contents */
body,
body > footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  /* max-width: 1400px; */
  margin: 0 auto;
}

body > main {
  display: block;
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
  margin: 0;

  min-width: 100vw;
  /* min-height: 100vh; */
  background-image: url("/assets/images/tsb-background.svg");
  background-size: cover;
  background-attachment: fixed;
}

body > main > .wrapper {
  box-sizing: border-box;

  margin-bottom: 16px;
  padding: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1216px;

  /* box-sizing: border-box;
   margin: 0;
   min-width: 0;
   display: grid;
   grid-gap: 32px;
   grid-template-columns: repeat(1,1fr); */
}

@media only screen and (min-width: 768px) {
  body > main > .wrapper {
    margin-top: 64px;
  }
}

body > main .inner-wrapper {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: grid;

  grid-gap: 32px;
  grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 1024px) {
  body > main .inner-wrapper {
    grid-column-gap: 128px;
    grid-template-columns: 1fr 2fr;
  }
}

body > main .overview img.logo {
  margin-bottom: 22px;
  display: none;
}

@media only screen and (min-width: 768px) {
  body > main .overview img.logo {
    display: inline;
  }
}

body > main .overview {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  /* font-family: inherit;
   font-weight: 700;
   line-height: 1.125; */
  color: var(--theme-ui-colors-primary, #1e3791);
  /* font-family: inherit;
   line-height: 1.125;
   font-weight: 700;
   font-size: 48px; */
  /* margin-top: 32px; */
  color: var(--theme-ui-colors-text, #2f2f2f);
}

body > main .overview h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-family: inherit;
  font-weight: 700;
  color: var(--theme-ui-colors-primary, #1e3791);
  font-family: inherit;
  line-height: 1.125;
  font-weight: 700;
  font-size: 48px;
  color: var(--theme-ui-colors-text, #2f2f2f);
}

body > main .overview h2 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.125;
  color: var(--theme-ui-colors-text, #2f2f2f);
  font-family: inherit;
  line-height: 1.125;
  font-weight: 400;
  font-size: 32px;
  margin-top: 8px;
  color: var(--theme-ui-colors-primary, #1e3791);
}

body > main .reusability {
  margin-top: 16px;
}

/* The main content */
main {
  flex: 1 1 auto;
}

main > article {
  /* max-width: 600px;
   width: 100%;
   display: inline-block; */
}

main > article.markdown-body {
  /* padding: 2em 2em 4em; */
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
}

main article.markdown-body h1 {
  display: none;
}

main > aside,
main > ul.table-of-contents {
  padding: 0 0 4em 0;
}
@media screen and (min-width: 1050px) {
  main > aside,
  main > ul.table-of-contents {
    display: inline-block;
    padding: 4.5em 2em 4em 0;
    max-width: 25%;
    vertical-align: top;
  }
}

main span.score {
  display: inline-block;
  background: #e5e5e5;
  border-radius: 999em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

main > aside ul,
main > ul.table-of-contents ul {
  list-style: none;
  padding: 0.5rem;
}

ul.table-of-contents {
  font-size: 1.125em;
  list-style-type: none;
}
ul.table-of-contents li {
  padding: 0.25rem 0;
}

ul.table-of-contents li li li {
  font-size: 1rem;
}

ul.table-of-contents a:link,
ul.table-of-contents a:visited {
  color: #253276;
  text-decoration: underline;
  text-decoration-color: #e5e5e5;
}
ul.table-of-contents a:hover {
  color: #b5050e;
  text-decoration-color: #b5050e;
}

/* The cards section in Projects and Guides */

.section-header h2 {
  margin-bottom: 0;
}

.section-header hr,
.markdown-body hr {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: gray;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0;
  border-bottom: 1px solid;
  margin-top: 16px;
  background-color: transparent;
}

main > .cards {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -15px;
}
main .cards .card {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding: 16px;
  border-radius: 0;
  background-color: var(--theme-ui-colors-background, #fff);
  transition: all 0.2s ease-out;
}

main .cards a {
  color: inherit;
  color: #2f2f2f;
  display: block;
}

main .cards a:not(:first-child) {
  margin-top: 32px;
}

/* @media only screen and (min-width: 768px) {
   main .cards a:not(:first-child) {
     margin-top: 32px;
   }
 }  */

main .cards a:hover .card {
  background-color: #f9f9f9;
}

main .cards .card h3 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  /* font-family: inherit;
   font-weight: 700;
   line-height: 1.125; */
  color: var(--theme-ui-colors-primary, #1e3791);
  font-family: inherit;
  line-height: 1.125;
  font-weight: 700;
  font-size: 32px;
}

main .cards > a:link,
main > .cards > a:visited {
  /* color: #253276; */
  text-decoration: none;
}
main .cards > a:hover {
  /* border-right: 3px solid #b5050e;
   border-bottom: 3px solid #b5050e;  */
}
main .cards > a > p {
  font-weight: normal;
  margin: 0;
}
main .cards > a > h3 {
  font-size: 1.125rem;
  margin: 0 0 10px;
}
main .cards > a:hover > h3 {
  text-decoration: underline;
}
main .cards > a > small {
  margin-top: 15px;
  font-size: 12px;
}

/* The footer */
body > footer {
  background: rgb(30, 55, 145);
  width: 100%;
  /*flex-direction: row;
   box-sizing: border-box;
   justify-content: center;
   align-items: flex-start;
   flex-wrap: wrap;
   margin: 0 15px; */
}
body > footer div {
  width: 100%;
}

body > footer .outer-wrapper {
  /* display: grid;
   grid-gap: 128px;
   grid-template-columns: 1fr 2fr; */

  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: container;
  margin-left: auto;
  margin-right: auto;
  max-width: 1216px;
  margin-top: 0;
  padding: 32px;
}

@media only screen and (min-width: 1024px) {
  body > footer .outer-wrapper {
    display: grid;
    grid-gap: 128px;
    grid-template-columns: 1fr 2fr;
  }
}

body > footer .wrapper {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: container;
  margin-left: auto;
  margin-right: auto;
  max-width: 1216px;
  margin-top: 0;
  /* padding: 32px; */

  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  display: inline-flex;
  gap: 15px;
}

body > footer .logos {
  background-color: #f4f4f4;
}

body > footer .logos .wrapper {
  display: inline-flex;
  /* flex-direction: row; */
  gap: 32px;
}

body > footer .logos .wrapper > * {
  width: 140px;
}

body > footer .wrapper:empty {
  display: none;
}

@media only screen and (min-width: 1024px) {
  body > footer .wrapper:empty {
    display: inline-flex;
  }
}

body > footer .logos img {
  width: 100%;
  height: 46px;
}

body > footer .logos .wrapper .senweb {
  width: 160px;
}

body > footer .logos .ibb {
  position: relative;
  top: -4px;
}

body > footer,
body > footer h3,
body > footer a:link,
body > footer a:visited {
  color: white;
  min-width: inherit;
}

body > footer a:link:before,
body > footer a:visited:before,
aside li > a:link:before,
aside li > a:visited:before {
  /* font-family: Arial,sans-serif;  
   display: inline-block;
   content: '›';
   width: 12px;
   font-size: 1.5rem;
   line-height: 0;
   opacity: 0.5;
   margin-left: -0.75rem; */
}

body > footer .wrapper > * {
  width: 242.5px;
  /* padding: 15px; */
  box-sizing: border-box;
  font-size: 16px;
}

body > footer > * h3,
body > footer h3 > a:link,
body > footer h3 > a:visited {
  /* font-size: 20px; */
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

body > footer a:link,
body > footer a:visited {
  text-decoration: none;
  color: inherit;
}
body > footer a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  /* color: #b5050e; */
}

body > footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

body > footer li:not(:last-child) {
  padding-bottom: 0.9em;
}

.markdown-body blockquote {
  /* border-left-width: 0.125em; */
}

/* helper */

.font-weight-normal {
  font-weight: normal;
}

.imageLink {
  line-height: 0;
}
