@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* everything in here will be included in the packagedvanilla CSS stylesheet */
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    src: local("IBM Plex Sans Regular"),
      url(/assets/fonts/IBMPlexSans-Regular.woff2) format("woff2"),
      url(/assets/fonts/IBMPlexSans-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: 400;
    src: local("IBM Plex Sans Italic"),
      url(/assets/fonts/IBMPlexSans-Italic.woff2) format("woff2"),
      url(/assets/fonts/IBMPlexSans-Italic.woff) format("woff");
  }
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    src: local("IBM Plex Sans Bold"),
      url(/assets/fonts/IBMPlexSans-Bold.woff2) format("woff2"),
      url(/assets/fonts/IBMPlexSans-Bold.woff) format("woff");
  }
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: 700;
    src: local("IBM Plex Sans Bold Italic"),
      url(/assets/fonts/IBMPlexSans-BoldItalic.woff2) format("woff2"),
      url(/assets/fonts/IBMPlexSans-BoldItalic.woff) format("woff");
  }

  a {
    @apply text-blue-500 transition-colors;
  }

  a:hover {
    @apply text-red-500;
  }

  address {
    @apply not-italic;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  .intro{
    @apply md:grid md:grid-cols-2 md:pb-20 md:mx-20
  }

  .intro-title{
   @apply md:text-right md:pr-6 pb-2 md:pb-0
  }

  .intro-text{
    @apply md:text-left md:pt-6
  }

  .content-title{
   @apply text-center pb-9
 }

  .darkblue{
    color:rgba(30, 55, 145, 1);
  }
}