@tailwind base;
@tailwind components;
@tailwind utilities;

/* The base layer should only include styling for bare HTML tags. */
@layer base {
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    src: local("IBM Plex Sans Regular"),
      url(/assets/fonts/IBMPlexSans-Regular.woff2) format("woff2"),
      url(/assets/fonts/IBMPlexSans-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: 400;
    src: local("IBM Plex Sans Italic"),
      url(/assets/fonts/IBMPlexSans-Italic.woff2) format("woff2"),
      url(/assets/fonts/IBMPlexSans-Italic.woff) format("woff");
  }
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    src: local("IBM Plex Sans Bold"),
      url(/assets/fonts/IBMPlexSans-Bold.woff2) format("woff2"),
      url(/assets/fonts/IBMPlexSans-Bold.woff) format("woff");
  }
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: 700;
    src: local("IBM Plex Sans Bold Italic"),
      url(/assets/fonts/IBMPlexSans-BoldItalic.woff2) format("woff2"),
      url(/assets/fonts/IBMPlexSans-BoldItalic.woff) format("woff");
  }

  html,
  body {
    @apply text-gray-900;
  }

  a {
    @apply text-blue-500 transition-colors;
  }

  a:hover {
    @apply text-red-500;
  }

  address {
    @apply not-italic;
  }

  h1 {
    @apply text-4xl md:text-6xl font-bold;
  }

  h2 {
    @apply text-3xl md:text-4xl font-bold;
  }

  h3 {
    @apply text-2xl lg:text-3xl font-bold;
  }
}

/* For clear distinction of component classes, please prefix your custom classes with a "component-". */
@layer components {
  button,
  .component-button {
    @apply px-2 py-1 border-2 border-blue-50 rounded-md;
  }
  .component-card {
    @apply h-full p-4 bg-white shadow focus:shadow-none transform focus:scale-95 transition-transform;
  }
}

/* Custom utility classes can be added here. */
@layer utilities {
  .clip-path-slanted {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }
  .bg-blend-multiply {
    background-blend-mode: multiply;
  }
  .bg-blend-soft-light {
    background-blend-mode: soft-light;
  }
}
