---
layout: layouts/wrapper.liquid
eleventyExcludeFromCollections: true
title: Dokumente
---
<section class="intro">
  <h1 class="intro-title">Dokumente</h1>

  <div class="intro-text">
    <p>
      Hier finden Sie Dokumente und Informationen rund um unsere Projekte, Open Source und die Berliner IT-Landschaft.
    </p>
  </div>
</section>
{% include partials/documents-overview.liquid %}