---
layout: wrapper
---

<div class="overview">
  <img src="{{ site.baseurl }}/assets/logo.svg" alt="Logo des Berlin Open-Source-Portal"
    class="logo">
  <h1 class="project-name">Berlin <span class="font-weight-normal">Open-Source Portal</span></h1>
  <h2 class="">Open-Source Projekte im Land Berlin</h2>
</div>

{% if page.toc != false and site.toc == true or page.toc == true %}
  {% include toc.liquid html=content h_min=2 sanitize=true class="table-of-contents" %}
{% endif %}

<article class="markdown-body">
  {{content}}
</article>


