---
eleventyExcludeFromCollections: true
layout: layouts/root.liquid
---

<section
  class="px-8 pt-16 md:pt-32 pb-64 lg:pb-32 bg-intro-pattern bg-cover bg-gray-200 bg-blend-soft-light clip-path-slanted"
>
  <div class="max-w-screen-lg mx-auto grid lg:grid-cols-2 gap-x-6 gap-y-0 md:gap-y-2">
    <h1 class="lg:text-right">
      Berlin<br />
      <span class="font-normal">Open-Source Portal</span>
    </h1>
    <img
      class="hidden lg:block pt-0 w-44"
      src="/assets/images/logo.svg"
      alt="Logo des Berlin Open-Source-Portal"
    />
    <h2 class="md:w-96 text-blue-500 font-normal lg:text-right lg:justify-self-end">
      Open-Source Projekte im Land Berlin
    </h2>
    <div>
      <p class="mt-6">
        Diese Seite bietet einen Überblick über
        <a
          href="https://de.wikipedia.org/wiki/Open_Source"
          target="_blank"
          rel="noopener noreferrer"
          >Open Source-Projekte</a
        >, die im Land Berlin eingesetzt oder aktiv weiterentwickelt werden. Mit
        diesem Angebot möchten wir die Digital-Community in Berlin und darüber
        hinaus einladen, kollaborativ an der Entwicklung innovativer
        Softwarelösungen für unsere Stadt zu arbeiten.
      </p>
      <p class="mt-6">
        Erste erfolgreiche Open Source-Anwendungen, die vom Land Berlin
        gefördert und mit dessen Beteiligung umgesetzt werden sind etwa die
        <a
          href="https://www.badegewaesser-berlin.de/"
          target="_blank"
          rel="noopener noreferrer"
          >Berliner Badestellen</a
        >
        oder
        <a
          href="https://www.gießdenkiez.de"
          target="_blank"
          rel="noopener noreferrer"
          >Gieß den Kiez</a
        >.
      </p>
      <p class="mt-6">
        Beim
        <a
          href="https://www.citylab-berlin.org/"
          target="_blank"
          rel="noopener noreferrer"
          >CityLAB Berlin</a
        >
        und der
        <a
          href="https://www.technologiestiftung-berlin.de/"
          target="_blank"
          rel="noopener noreferrer"
          >Technologiestiftung Berlin</a
        >
        finden Open Source-Entwickler*innen zahlreiche Projekte, bei denen eine
        aktive Beteiligung möglich und erwünscht ist. Das Berliner
        <a
          href="https://www.itdz-berlin.de/"
          target="_blank"
          rel="noopener noreferrer"
          >IT-Dienstleistungszentrum (ITDZ)</a
        >
        bietet zudem in seinem
        <a
          href="https://github.com/itdz-berlin"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub-Account</a
        >
        ein Demo-Fachverfahren an.
      </p>
    </div>
  </div>
</section>
<section class="mt-16 px-8 max-w-screen-lg mx-auto">
  <h2>Projekte</h2>
  <p class="mt-2">Ein Auszug aktueller Projekte im Überblick.</p>
  <div class="mt-6 grid md:grid-cols-2 gap-4 md:gap-8">
    {% for project in collections.project %} {% if project.data.featured == true
    %} {% include partials/project-card.liquid, url: project.url, title:
    project.data.title, abstract: project.data.abstract, id: project.data.id %}
    {% endif %} {% endfor %}
  </div>
</section>
