---
layout: layouts/wrapper.liquid
title: Mitmachen
eleventyExcludeFromCollections: true
permalink: /mitmachen/
---

<article class="prose mx-auto">
  <h2>Wie kannst du dich darüber hinaus beteiligen?</h2>

  <p>
    Wir freuen uns über Hinweise, Feedback und Verbesserungsvorschläge zu
    unseren Open Source-Projekten.
  </p>

  <p>Issues und Pull Requests sind jederzeit willkommen!</p>

  <h3>Probleme, Hinweise und Fragen</h3>

  <p>
    Ihr müsst keinen Code schreiben können, um nützliche Beiträge zu leisten.
    Auch Hinweise auf Bugs und Probleme, Verbesserungsvorschläge oder Wünsche
    sind für uns hilfreich. Wenn ihr konkrete Fragen oder Hinweise habt, könnt
    ihr einfach ein
    <a
      href="https://help.github.com/articles/creating-an-issue/"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub Issue</a
    >
    für dieses Projekt anlegen.
  </p>

  <h3>Dokumentation und Code</h3>

  <p>
    Wenn ihr konkrete Verbessserungsvorschläge zur Dokumentation oder zum Code
    habt, legt einfach ein Pull Request an. Falls ihr bisher noch nicht mit
    GitHub gearbeitet habt, findet ihr
    <a
      href="https://guides.github.com/introduction/flow/"
      target="_blank"
      rel="noopener noreferrer"
      >hier</a
    >
    eine Einführung.
  </p>

  <p>
    Weitere Informationen zu diesem Projekt findet ihr in der
    <a
      href="https://github.com/technologiestiftung/berlin-open-source-portal/blob/main/README.md"
      target="_blank"
      rel="noopener noreferrer"
      ><code>README</code></a
    >.
  </p>
</article>
