<p>
  Wenn Sie ein Projekt für diese Sammlung vorschlagen möchten oder Fragen zu einem bestehenden Projekt haben, senden Sie uns bitte eine E-Mail an
  <a href="mailto:info@berlinopensource.de"
    >info@berlinopensource.de</a
  >.
</p>
<p class="mt-4">
  Sollten Sie mit GitHub vertraut sein, können Sie im
  <a
    href="https://github.com/technologiestiftung/berlin-open-source-portal"
    target="_blank"
    rel="noopener noreferrer"
    >Repository</a
  >
  auch einen Pull Request machen. Bitte beachten Sie dabei unsere
  <a
    href="https://github.com/technologiestiftung/berlin-open-source-portal/blob/main/CONTRIBUTING.md"
    target="_blank"
    rel="noopener noreferrer"
    >Contribution Guidelines</a
  >. Wir prüfen die Einreichung dann und mergen sie, wenn alles passt.
</p>
