<p>
  Wenn du ein Projekt für diese Sammlung vorschlagen möchtest, sende uns
  eine E-Mail an
  <a href="mailto:opensource@technologiestiftung-berlin.de"
    >opensource@technologiestiftung-berlin.de</a
  >.
</p>
<p class="mt-4">
  Wenn du mit GitHub vertraut bist, kannst du im
  <a
    href="https://github.com/technologiestiftung/berlin-open-source-portal"
    target="_blank"
    rel="noopener noreferrer"
    >Repository</a
  >
  auch einen Pull Request machen. Bitte beachte dabei unsere
  <a
    href="https://github.com/technologiestiftung/berlin-open-source-portal/blob/main/CONTRIBUTING.md"
    target="_blank"
    rel="noopener noreferrer"
    >Contribution Guidelines</a
  >. Wir prüfen die Einreichung dann und mergen sie, wenn alles passt.
</p>
