<div id="cookie-banner" class="bg-blue-500 text-white fixed bottom-0 left-0 w-full">
  <div class="max-w-screen-lg mx-auto px-8 py-4 flex place-content-between">
    <p class="text-sm self-center">Diese Website verwendet Cookies, um bestimmte Funktionen zu ermöglichen und das Angebot zu verbessern. Indem Sie hier fortfahren, stimmen Sie der Nutzung von Cookies zu. <a href="https://www.technologiestiftung-berlin.de/de/datenschutz/" target="_blank" rel="noopener noreferrer" class="text-blue-200 hover:text-white underline">Weitere Informationen</a></p>
    <div class="flex-shrink-0 ml-6">
      <button id="accept-cookies" aria-label="Cookie-Einwilliung bestätigen" class="text-blue-200">
        {% include partials/icon-close.html %}
      </button>
    </div>
  </div>
</div>
