<section class="grid grid-cols-1 gap-8">
  {% for document in collections.documents %}
  <a href="{{ document.url }}" class="p-4 bg-white shadow-md">
    <div class="">
      <h3>{{ document.data.title }}</h3>
      <p class="text-gray-900">{{ document.data.abstract }}</p>
    </div>
  </a>
  {% endfor %}
</section>