<footer>
  <section class="px-8 py-6 bg-intro-pattern bg-gray-100 bg-blend-soft-light clip-path-slanted-footer grey text-sm">
    <div class="pt-12 md:pt-20 max-w-screen-lg mx-auto">
        <ul class="text-right">
          <li class="md:float-right py-2 mr-7 md:list-disc"">
            <a class="grey"
              href="https://www.technologiestiftung-berlin.de/de/impressum/"
              target="_blank"
              rel="noopener noreferrer"
              >Impressum</a
            >
          </li>
          <li class="md:float-right py-2 mr-7 md:list-disc"">
            <a class="grey"
            href="https://www.technologiestiftung-berlin.de/de/datenschutz/"
            target="_blank"
            rel="noopener noreferrer"
            >Datenschutz</a
            >
          </li>
          <li class="md:float-right py-2 mr-7">
            <address>
              <a class="grey" 
                href="mailto:info@technologiestiftung-berlin.de"
                >E-Mail-Kontakt</a
              >
            </address>
          </li>
        </ul>
    </div>
    <div class="pt-5 md:pt-10 max-w-screen-lg mx-auto">
      <hr style="border-top: dotted 1px;">
    </div>
    {% include partials/logos.liquid %}
  </section>
</footer>
