<div class="outer-wrapper">
  <div class="wrapper"></div>
  <div class="wrapper">
    <article>
      <ul>
        <li>
          <a href="mailto:info@technologiestiftung-berlin.de">E-Mail Kontakt</a>
        </li>
        <li>
          <a href="https://www.technologiestiftung-berlin.de/de/impressum/">Impressum</a>
        </li>

      </ul>
    </article>
    <article>
      <ul>
        <li>
          <a href="https://GitHub.com/technologiestiftung">Technologiestiftung Berlin</a>
        </li>
        <li>
          <a href="http://daten.berlin.de">Berlin Open Data</a>
        </li>
        <li>
          <a href="http://github.com/itdz-berlin">ITDZ Berlin</a>
        </li>

      </ul>
    </article>

  </div>
</div>