<footer>
  <section class="px-8 py-6 bg-intro-pattern bg-gray-100 bg-blend-soft-light clip-path-slanted-footer grey text-sm">
    <div class="max-w-screen-lg mx-auto pt-12 md:pt-20 pb-4">
        <ul class="text-right block sm:flex sm:flex-wrap sm:justify-end">
          <li class="py-2 mr-7">
            <address>
              <a class="grey" 
                href="mailto:info@technologiestiftung-berlin.de"
                >E-Mail-Kontakt</a
              >
            </address>
          </li>
          <li class="py-2 mr-7 sm:list-disc"">
            <a class="grey"
            href="https://www.technologiestiftung-berlin.de/de/datenschutz/"
            target="_blank"
            rel="noopener noreferrer"
            >Datenschutz</a
            >
          </li>
          <li class="py-2 mr-7 sm:list-disc">
            <a class="grey"
              href="https://www.technologiestiftung-berlin.de/de/impressum/"
              target="_blank"
              rel="noopener noreferrer"
              >Impressum</a
            >
          </li>
        </ul>
    </div>
    <div class="max-w-screen-lg mx-auto border-t border-gray-900 border-dotted">
      {% include partials/logos.liquid %}
    </div>
  </section>
</footer>
