<header
  class="w-full relative md:sticky top-0 p-4 flex justify-between bg-white shadow z-50"
>
  <a
    href="/"
    aria-label="Zur Startseite von Berlin Open Source"
    class="flex-shrink-0 flex items-start md:items-center"
  >
    <img
      src="/assets/images/logo.svg"
      alt="Logo von Berlin Open Source"
      class="h-10"
    />
  </a>
  <div class="ml-4 md:ml-0 flex items-start md:items-center">
    {% include partials/nav.liquid %}
    <a
      href="https://www.technologiestiftung-berlin.de/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Zur Website der Technologiestiftung Berlin"
      class="ml-4 flex-shrink-0"
    >
      <img
        src="/assets/images/tsb-icon.svg"
        alt="Bildmarke der Technologiestiftung Berlin"
        class="h-10 transform scale-75"
      >
    </a>
  </div>
</header>
