<header
  class="w-full sticky top-0 p-4 md:p-4 lg:p-6 flex md:justify-between bg-white shadow-md z-50"
>
  <a href="{{ site.baseurl }}/" class="flex items-center">
    <img
      src="{{ site.baseurl }}/assets/images/logo.svg"
      alt="Logo des Berlin Open-Source Portals"
      class="h-8 md:h-10"
    />
    <h2 class="hidden md:block text-lg md:text-xl font-bold text-gray-900 ml-2 md:ml-4">
      Berlin <span class="font-normal">Open-Source Portal</span>
    </h2>
  </a>
  <div class="ml-4 md:ml-0">
    {% include partials/nav.liquid %}
  </div>
</header>
