<header
  class="w-full sticky top-0 p-4 md:p-6 lg:p-6 flex md:justify-between bg-white shadow z-50"
>
  <a href="{{ site.baseurl }}/" aria-label="Zur Startseite von Berlin Open Source" class="flex-shrink-0">
    <img
      src="{{ site.baseurl }}/icon.svg"
      alt="Logo von Berlin Open Source"
      class="w-10 md:w-12"
    />
  </a>
  <div class="ml-4 md:ml-0 flex">
    {% include partials/nav.liquid %}
  </div>
</header>
