<a href="{{ site.baseurl }}/" class="main">
  <img
    src="{{ site.baseurl }}/assets/images/logo.svg"
    alt="Logo des Open-Source Portals"
    class="open-source-logo"
  />
  <h2 class="project-name">
    Berlin <span class="font-weight-normal">Open-Source Portal</span>
  </h2>
</a>
<hr />
<nav>{% include partials/top-nav.liquid %}</nav>
