<div class="outer-wrapper logos">
  <div class="wrapper"></div>
  <div class="wrapper">
    <a
      href="https://technologiestiftung-berlin.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="imageLink"
      ><img
        src="{{ site.baseurl }}/assets/images/tsb-logo.svg"
        alt="Logo der Technologiestiftung Berlin"
        class="tsb-logo"
    /></a>
    <a
      href="https://www.berlin.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="imageLink senweb"
      ><img
        src="{{ site.baseurl }}/assets/images/senweb-logo.svg"
        alt="Logo der Senatsverwaltung für Wirtschaft, Energie und Betriebe"
        class=""
    /></a>
    <a
      href="https://www.ibb.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="imageLink ibb"
      ><img
        src="{{ site.baseurl }}/assets/images/lbb.svg"
        alt="Logo der Investitionsbank Berlin"
        class=""
    /></a>
  </div>
</div>
