<section class="max-w-screen-lg mx-auto p-4 flex flex-wrap place-content-between">
  <div class="flex items-center px-4 py-4 lg:py-8">
    <span class="text-sm">Ein Projekt der:</span>
    <a
      href="https://technologiestiftung-berlin.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-4"
      ><img
        src="/assets/images/tsb-logo.svg"
        alt="Logo der Technologiestiftung Berlin"
        class="w-32"
    /></a>
  </div>
  <div class="flex items-center px-4 py-4 lg:py-8">
    <span class="text-sm">Gefördert durch:</span>
    <a
      href="https://www.berlin.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-4"
      ><img
        src="/assets/images/senweb-logo.svg"
        alt="Logo der Senatsverwaltung für Wirtschaft, Energie und Betriebe"
        class="w-48"
    /></a>
    <a
      href="https://www.ibb.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-8"
      ><img
        src="/assets/images/lbb.svg"
        alt="Logo der Investitionsbank Berlin"
        class="w-32"
    /></a>
  </div>
</section>
