<div class="px-8 max-w-screen-lg mx-auto flex-wrap place-content-between pt-5 flex">
  <div class="flex items-center px-4 pb-4 lg:pb-6">
    <span class="text-sm">Ein Projekt der:</span>
    <a
      href="https://technologiestiftung-berlin.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-4"
      max-width="100%"
      ><img
        src="/assets/images/tsb-logo.svg"
        alt="Logo der Technologiestiftung Berlin"
        class="w-32"
        style="max-width: none;"
    /></a>
  </div>
  <div class="flex flex-wrap items-center px-4 pb-4 lg:pb-6">
    <span class="text-sm pb-2">Gefördert durch:</span>
    <a
      href="https://www.berlin.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-4"
      ><img
        src="/assets/images/senweb-logo.svg"
        alt="Logo der Senatsverwaltung für Wirtschaft, Energie und Betriebe"
        class="w-48 flex"
        style="max-width: none;"
    /></a>
    <a
      href="https://www.ibb.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-4 md:ml-8"
      ><img
        src="/assets/images/lbb.svg"
        alt="Logo der Investitionsbank Berlin"
        class="w-32 flex"
        style="max-width: none;"
    /></a>
  </div>
</div>
