<div class="w-full flex">
  <div class="block">
    <span class="w-full block text-xs text-gray-700">Ein Projekt der:</span>
    <a
      href="https://technologiestiftung-berlin.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="mt-4 block"
      ><img
        src="/assets/images/tsb-logo.svg"
        alt="Logo der Technologiestiftung Berlin"
        class="w-32"
    /></a>
  </div>
  <div class="ml-8 md:ml-12 block">
    <span class="w-full block text-xs text-gray-700">Gefördert von:</span>
    <a
      href="https://www.berlin.de/"
      target="_blank"
      rel="noopener noreferrer"
      class="mt-4 block"
      ><img
        src="/assets/images/senweb-logo.svg"
        alt="Logo der Senatsverwaltung für Wirtschaft, Energie und Betriebe"
        class="w-48"
    /></a>
  </div>
</div>
