<nav class="flex items-center">
  <ul class="flex flex-wrap text-lg">
    <li class="my-1 mr-4 md:mr-6">
      <a href="{{ site.baseurl }}/projects/" class="text-gray-900">Projekte</a>
    </li>
    <li class="my-1 mr-4 md:mr-6">
      <a href="{{ site.baseurl }}/documents/" class="text-gray-900">Dokumente</a>
    </li>
    <li class="my-1">
      <a href="{{ site.baseurl }}/suggest/" class="text-gray-900 component-button">Projekt vorschlagen</a>
    </li>
  </ul>
</nav>
