<nav role="navigation" class="w-full mr-2 sm:mr-4 grid grid-cols-1 justify-self-end">
  <button
    data-menu-button
    aria-expanded="false"
    aria-controls="menu"
    aria-haspopup="true"
    aria-label="Navigation"
    class="p-1 justify-self-end border-none hover:bg-opacity-0 hover:text-blue-500 rounded-none flex sm:hidden"
  >
    <img
      src="/assets/images/icons/icon_menu.svg"
      alt="Menü-Icon"
      class="w-8"
      aria-hidden="true"
    >
  </button>
  <ul
    data-menu-content
    class="hidden sm:flex"
  >
    {% for item in collections.navItems %}
    <li class="px-2 sm:px-0 py-3 sm:py-0 ml-4 text-right">
      <a href="{{ item.url }}" class="text-gray-900 text-base sm:text-sm md:text-base">{{ item.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
