<nav class="flex items-center">
  <ul class="flex flex-wrap text-lg">
    <li class="my-1 mr-4 md:mr-6">
      <a href="/projekte/" class="text-gray-900">Projekte</a>
    </li>
    <li class="my-1 mr-4 md:mr-6">
      <a href="/informationen/" class="text-gray-900">Informationen</a>
    </li>
    <li class="my-1">
      <a href="/einreichen/" class="text-gray-900 component-button">Projekt vorschlagen</a>
    </li>
  </ul>
</nav>
