<nav class="flex items-center">
  <ul class="flex flex-wrap text-lg">
    <li class="my-1 mr-2 md:mr-3 pr-2 md:pr-3 border-r-2 border-dotted">
      <a href="/projekte/" class="text-gray-900">Projekte</a>
    </li>
    <li class="my-1 mr-4 md:mr-6">
      <a href="/informationen/" class="text-gray-900">Informationen</a>
    </li>
    <li class="my-1">
      <a href="/mitmachen/" class="text-gray-900 component-button">Mitmachen</a>
    </li>
  </ul>
</nav>
