<nav class="flex items-center ml-4">
  <ul class="flex flex-wrap text-lg">
    <li class="mr-2 md:mr-4">
      <a href="{{ site.baseurl }}/projects/" class="text-gray-900">Projekte</a>
    </li>
    <li class="mr-2 md:mr-4">
      <a href="{{ site.baseurl }}/documents/" class="text-gray-900">Dokumente</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/suggest/" class="text-gray-900 component-button">Projekt vorschlagen</a>
    </li>
  </ul>
</nav>
