<nav class="flex items-center ml-4">
  <ul class="flex flex-wrap text-lg md:text-2xl">
    <li class="mr-2 md:mr-4">
      <a href="{{ site.baseurl }}/projects/">Projekte</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/documents/">Dokumente</a>
    </li>
  </ul>
</nav>
