<div class="grid mx-auto max-w-prose">
  <h2>{{ principles.title }}</h2>
  <p class="mt-4">{{ principles.subtitle }}</p>
</div>
<ul class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
  {% for principle in principles.items %}
  <li class="p-8 bg-white border-2 border-gray-200 grid grid-cols-4 gap-4">
    <div class="col-span-1 w-full h-12 bg-gray-300"></div>
    <div class="col-span-3">
      <h3>{{ principle.title }}</h3>
      {% for item in principle.content %}
      <p class="my-3">
        {{ item }}
      </p>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>
