<p class="pb-6">
  Diese Liste gibt einen Überblick über aktuelle Open Source-Projekte, die vom
  Land Berlin oder mit dessen Unterstützung entwickelt wurden. Wir arbeiten
  daran, die Liste kontinuierlich zu erweitern.
</p>

