<a
  href="/projekt-vorschlagen"
  class="fixed right-0 top-0 w-40 h-40 p-6 rounded-full shadow bg-white hover:bg-gray-100 text-gray-900 hover:text-gray-800 flex items-start text-center font-bold text-sm z-40 transform translate-y-roughly-75vh -rotate-90 translate-x-1/2"
>
  Projekt vorschlagen
</a>
