<p>
  Wenn du ein Projekt für diese Sammlung vorschlagen möchtest, sende uns gerne
  eine E-Mail an
  <a href="mailto:opensource@tsbberlin.de">opensource@tsbberlin.de</a>.
</p>
<p class="mt-4">
  Wenn du mit GitHub vertraut bist, kannst du
  <a
    href="https://github.com/technologiestiftung/berlin-open-source-portal"
    target="_blank"
    rel="noopener noreferrer"
    >im Repository</a
  >
  auch einen Pull Request machen. Bitte beachte dabei unsere
  <a
    href="https://github.com/technologiestiftung/berlin-open-source-portal/blob/main/CONTRIBUTING.md"
    >Contribution Guidelines</a
  >. Wir prüfen die Einreichung dann und mergen sie, wenn alles passt.
</p>