---
layout: layouts/wrapper.liquid
eleventyExcludeFromCollections: true
title: Projekte
permalink: /projekte/
---

<section class="mt-12 md:mt-20 mb-12">
  <h2 class="content-title">Alle Projekte auf einen Blick</h2>

  <section class="max-w-screen-md mx-auto text-center">
    {% include partials/tag-list.liquid %}
  </section>
  
  <section class="mt-9">
    {% include partials/project-overview.liquid %}
  </section>
</section>
