---
layout: layouts/wrapper.liquid
eleventyExcludeFromCollections: true
title: Projekte
---

<h1>Projekte</h1>

<div>
  <p>
    Diese Liste gibt einen Überblick über aktuelle Open Source-Projekte, die vom
    Land Berlin oder mit dessen Unterstützung entwickelt wurden. Wir arbeiten
    daran, die Liste kontinuierlich zu erweitern.
  </p>

  <p>
    Viele Open Source-Projekte, die offene Daten des Landes Berlin nutzen,
    finden sich im
    <a
      href="https://github.com/technologiestiftung"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub-Account der Technologiestfitung Berlin</a
    >.
  </p>
</div>

{%- comment -%}
{% include partials/tag-list.liquid %}
{%- endcomment -%}

{% include partials/project-overview.liquid %}
