---
layout: layouts/wrapper.liquid
eleventyExcludeFromCollections: true
title: Projekte
---
<section class="intro">
  <h1 class="intro-title">Projekte</h1>

  <div class="intro-text pb-6 md:pb-0">
     <p class="pb-6">
      Diese Liste gibt einen Überblick über aktuelle Open Source-Projekte, die vom
      Land Berlin oder mit dessen Unterstützung entwickelt wurden. Wir arbeiten
      daran, die Liste kontinuierlich zu erweitern.
    </p>
    <p>
      Viele Open Source-Projekte, die offene Daten des Landes Berlin nutzen,
      finden sich im
      <a
        href="https://github.com/technologiestiftung"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub-Account der Technologiestiftung Berlin</a
      >.
    </p>
  </div>
</section>
{% include "partials/project-overview.liquid" %}
